/* Block */
.card {
  max-width: 540px;
  font-family: "Playfair Display", serif;
  text-align: center;

  transition: all 0.125s;
  transform: scale(1) translateY(0px);

  /* Modifiers */
  &::hover {
    cursor: pointer;
    transform: scale(1.05);
    .card__wrapper {
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
      &::after {
        transform: scale(0.95) translateY(10px);
      }
    }
  }

  .card__wrapper {
    padding-top: 0.1px;
    padding-bottom: 0.1px;
    position: relative;

    background-color: #ffffff;
    color: #999999;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      top: 15px;
      right: 15px;
      bottom: 0;
      left: 15px;

      box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
      transition: all 0.125s;
      transform: scale(1) translateY(0px);
    }
  }
  .card__box {
    padding-right: 35px;
    padding-left: 35px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .card__item {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .card__item--small {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .card__feature {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
  .card__img {
    display: block;
    width: 100%;
    height: 400px;
  }
  .card__header {
    position: relative;
    z-index: 1;
  }
  .card__title {
    color: #222222;

    font-size: 30px;
    font-weight: 400;
    line-height: 1.25;
  }
  .card__label {
    color: #cccccc;

    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
  }
  .card__divider {
    display: block;
    width: 100%;
    height: 15px;

    border: none;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSIyOHB4IiBoZWlnaHQ9IjE1cHgiIHZpZXdCb3g9IjAgMCAyOCAxNSIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMjggMTUiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwYXRoIGZpbGw9IiNERURFREUiIGQ9Ik0yNy41LDdoLTZDMjEuMiwzLjEsMTgsMCwxNCwwUzYuOCwzLjEsNi41LDdoLTZDMC4yLDcsMCw3LjIsMCw3LjVTMC4yLDgsMC41LDhoNmMwLjMsMy45LDMuNSw3LDcuNSw3czcuMi0zLjEsNy41LTdoNkMyNy44LDgsMjgsNy44LDI4LDcuNVMyNy44LDcsMjcuNSw3eiBNMTQsMWMzLjQsMCw2LjIsMi42LDYuNSw2SDcuNUM3LjgsMy42LDEwLjYsMSwxNCwxeiBNMTQsMTRjLTMuNCwwLTYuMi0yLjYtNi41LTZoMTIuOUMyMC4yLDExLjQsMTcuNCwxNCwxNCwxNHoiLz48L3N2Zz4=);
    background-repeat: no-repeat;
    background-position: center center;
  }
  .card__body {
    font-size: 15px;
    line-height: 1.75;
  }
}

.card.card__single {
  max-width: 1200px;
  .card__body {
    font-size: 16px;
    line-height: 1.75;
  }
  .card__para::first-letter {
    text-transform: uppercase;
    font-size: 32pxpx;
    color: #000 !important;
  }
  .card__img {
    display: block;
    width: 100%;
    height: 800px;
    @media screen and (max-width: 1000px) {
      height: 400px;
    }
    @media screen and (max-width: 800px) {
      height: 300px;
    }
  }
}
